$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
/* the above is if I wanted to pull in font from google */
@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}